<div class="bg-stone-700 h-screen w-screen">
  <div class="h-full w-full flex flex-col justify-center">
    <h1 class="text-white text-3xl font-bold underline text-center">
      QuizMaster v.1.0!
    </h1>
    @if (quizStore.isGameOver()) { }
    <div>
      <div class="flex flex-col items-center justify-center text-center w-full">
        <div class="w-full">
          <app-quiz-question-component
            [question]="quizStore.currentQuestion()?.question?.question"
          />
        </div>
        <app-quiz-question-component
          [shortLineRight]="true"
          (onClick)="quizStore.evaluateAnswer($event)"
          [options]="quizStore.currentQuestion()?.shuffledOptions"
        />
      </div>
    </div>
  </div>
</div>
